<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modalService.dismiss('cancel')">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 *ngIf="!deleteContainer" class="modal-title" id="myModalLabel">Create Container</h4>
    <h4 *ngIf="deleteContainer" class="modal-title" id="myModalLabel">Delete Container</h4>
  </div>


  <div *ngIf="!deleteContainer" class="modal-body">

    <form class="form-horizontal" [formGroup]="containerForm" (ngSubmit)="doCreateContainer()">
      <p text-center>All Fields are Required</p>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="textInput-markup">Name</label>
        <div class="col-sm-9">
          <input type="text" id="textInput-markup" class="form-control" formControlName="name">
        </div>
        <div *ngIf="containerForm.hasError()">Please enter valid data</div>
      </div>
      <div *ngIf="containerForm.controls?.name?.hasError('whitespace')">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 alert alert-danger" >
              <span class="pficon pficon-error-circle-o"></span>
              <strong>Invalid Name, please remove spaces</strong>.
            </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="textInputDisabled-markup">Group Name</label>
        <div class="col-sm-9">
          <input type="text" id="textInputDisabled-markup" class="form-control" formControlName="group">
        </div>
      </div>
      <div *ngIf="containerForm.controls?.group?.hasError('whitespace')">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 alert alert-danger" >
              <span class="pficon pficon-error-circle-o"></span>
              <strong>Invalid Group name, please remove spaces</strong>.
            </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="textInputDisabled-markup">Artifact Id</label>
        <div class="col-sm-9">
          <input type="text" id="textInputDisabled-markup" class="form-control" formControlName="artifact">
        </div>
      </div>
      <div *ngIf="containerForm.controls?.artifact?.hasError('whitespace')">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 alert alert-danger" >
              <span class="pficon pficon-error-circle-o"></span>
              <strong>Invalid Artifact name, please remove spaces</strong>.
            </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="textInputDisabled-markup">Version</label>
        <div class="col-sm-9">
          <input type="text" id="textInputDisabled-markup" class="form-control" formControlName="version">
        </div>
      </div>
      <div *ngIf="containerForm.controls?.version?.hasError('whitespace')">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 alert alert-danger" >
              <span class="pficon pficon-error-circle-o"></span>
              <strong>Invalid Version name, please remove spaces</strong>.
            </div>
      </div>


      <div class="alert alert-danger cursor-pointer" *ngIf="errMsg" (click)="errMsg=null;">
        <span class="pficon pficon-error-circle-o"></span>
        <strong>{{errMsg}}</strong>.
      </div>

      <div class="alert alert-success cursor-pointer" *ngIf="createOK" (click)="close()">
        <span class="pficon pficon-ok"></span>
        <strong>Container Created Successfully</strong>.
      </div>

    </form>


  </div>

  <div *ngIf="deleteContainer" class="modal-body">
    <h3>OK to permanently delete container <strong>{{containerName}}</strong> ?</h3>
  </div>

  <div *ngIf="!deleteContainer" class="modal-footer">
      <button *ngIf="!inProgress" type="button" class="btn top-align btn-warning" (click)="modalService.dismiss('cancel')">cancel</button>
      <span  *ngIf="inProgress" class="spinner spinner-md spinner-inline"></span>
      <button *ngIf="!createOK"  [disabled]="containerForm.invalid || errMsg || inProgress"   type="button" class="btn top-align btn-success" (click)="doCreateContainer()">Create</button>
      <button *ngIf="createOK" type="button" class="btn top-align btn-success" (click)="close()">OK</button>

    </div>



  <div *ngIf="deleteContainer" class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalService.dismiss('cancel')">cancel</button>
    <button type="button" class="btn btn-success"  (click)="close()">Confirm Delete</button>
  </div>

</div>