<nav-header></nav-header>
<div class="container-fluid container-cards-pf">

  <div class="container-fluid">

    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <div class="toolbar-pf-actions">

          <!-- FILTER -->
          <custom-filter [config]="sortConfig" [filters]="filters" (onChange)="filterChange($event)"></custom-filter>

          <!-- SORT -->
          <div class="form-group border-left-on">
            <pfng-sort [config]="sortConfig" (onChange)="sortChange($event)"></pfng-sort>
          </div>

        </div>


        <!-- FILTERS -->
        <div *ngIf="filters?.length>0" class="row toolbar-pf-results">
          <div class="col-sm-12">
            <h5>{{filteredProcessDefinitions?.length}} Results</h5>
            <p>Active filters:</p>
            <ul class="list-inline">
              <li *ngFor="let filter of filters">
                <span class="label label-info">
                  {{filter?.filterType?.title}}: {{filter?.text}} &nbsp;
                  <span class="pficon pficon-close cursor-pointer" (click)="clearFilter(filter)"></span>
                </span>
              </li>
            </ul>
            <p *ngIf="filters.length>0" (click)=clearFilters()>
              <a>Clear All Filters</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
  <div class="list-group list-view-pf list-view-pf-view">

    <div class="table-responsive-lg">
      <div class="container-fluid container-cards-pf">
        <pfng-pagination *ngIf="paginationConfig" [config]='paginationConfig' (onPageSizeChange)="handlePageSize($event)" (onPageNumberChange)="handlePageNumber($event)"></pfng-pagination>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Process ID</th>
            <th scope="col">Process Name</th>
            <th scope="col">Process Version</th>
            <th scope="col">Package</th>
            <th scope="col">Container ID</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="filteredProcessDefinitions?.length>0">
          <tr *ngFor="let processDefinition of filteredProcessDefinitions
          | sortArray: currentSortField.sortField:isAscendingSort
          | slice:((paginationConfig.pageNumber - 1) * paginationConfig.pageSize):paginationConfig.totalItems
          | slice:0:paginationConfig.pageSize; let i = index">

            <td>{{ i+1 }}</td>
            <td>{{ processDefinition['process-id'] }}</td>
            <td>{{ processDefinition['process-name'] }}</td>
            <td>{{ processDefinition['process-version'] }}</td>
            <td>{{ processDefinition['package'] }}</td>
            <td>{{ processDefinition['container-id'] }}</td>
            <td>
              <div>
                <button class="btn btn-default" (click)="viewProcessDetails(processDefinition)">View Process</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
