<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <profiles>
    <profile>
     <id>nexus-group</id>
      <repositories>
        <repository>
            <id>release</id>
            <url>http://10.25.28.72:8091/repository/maven-releases</url>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
            <id>nexus-group-plugin-repository</id>
            <url>http://10.25.28.72:8091/repository/maven-releases</url>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <!--servers>
        <server>
          <id>redhat-internal-dev-demo-release</id>
          <username>redhat-dev</username>
          <password>Kj_289wenJKWJNc=</password>
        </server>
  </servers-->


  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>Nexus mirror</name>
      <url>http://10.25.28.72:8091/repository/maven-releases</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  
 
  <activeProfiles>


   <activeProfile>nexus-group-SOS</activeProfile>


  </activeProfiles>
</settings>

